# Core Django
django
djangorestframework

# Database
psycopg2-binary
dj-database-url

# Configuration
python-decouple

# CORS and Security
django-cors-headers

# Authentication
djangorestframework-simplejwt
pyjwt
django-allauth
dj-rest-auth
cryptography

# File Storage
pillow

# Deployment
gunicorn
whitenoise


django-otp
qrcode

channels
channels_redis
celery
gevent

websockets
python-dotenv
pyarrow
pandas
redis
fyers-apiv3
python-dateutil
apscheduler
daphne  

pandas-ta
