# Core Django
django
djangorestframework

# Database
psycopg2-binary

# Configuration
python-decouple

# CORS and Security
django-cors-headers

# Authentication
djangorestframework-simplejwt
pyjwt
django-allauth
dj-rest-auth

# File Storage
pillow

# Deployment
gunicorn
uvicorn
whitenoise

django-otp
qrcode

channels
channels_redis
celery

pyarrow
pandas
redis
fyers-apiv3
python-dateutil

pandas-ta
